 /* ------------------------------------------------------- Fons-------------------------------------------------------------- */

 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* -------------------------------------------------- End Fons--------------------------------------------------------------  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  height: 1210px;
}

    /* .header{
    height: 58%;
    } */

/* .main{
  height: 37%;
}

.footer{
  height: 51%;
} */
/* ----------------------------------------------------- Menu---------------------------------------------------------------- */

.container { 
  max-width: 1170px; 
  margin: 0 auto; 
  padding: 0 15px; 
} 
 
.header { 
  padding-top: 38px; 
  background-size: cover; 
  background-image: url(../images/h-bg.png);
} 
 
.navigation { 
  display: flex; 
  justify-content: space-around; 
  margin-bottom: 136 px; 
} 
 
.logo { 
  
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-decoration: none;
} 

.menu { 
  color: #95e1d3; 
  display: flex; 
  align-items: center; 
} 
 
.menu-item:not(:last-child) { 
  margin-right: 32px; 
} 

.menu-item{
  list-style: none;
}
 
.menu-item__link { 
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    text-decoration: none;
} 

.h-border{
    position: absolute;
    top: 35px;
    left: 75.4%;
}

.title-1{
        font-size: 52px;
        font-family: "Montserrat";
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2;
        display: flex;
        justify-content: center;      
        margin-top: 323px;
}

.title-2{
    font-size: 52px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    margin-top: 27px;    
    display: flex;
    justify-content: center;
}

.title-3{
        font-size: 24px;
        font-family: "Roboto";
        color: rgb(255, 255, 255);
        line-height: 1.2;
        margin-top: 47px    ;     
        display: flex;
        justify-content: center; 
}

.button-h{
        background-color: rgb(255, 78, 80);
        font-size: 14px;
        font-family: "Montserrat";
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.2;   
        width: 225px;
        height: 40px;
        border-radius: 12px;
        border-color: rgb(255, 78, 80);        
        margin-top: 39px;
        margin-bottom: 235px; 
}

.container-button{
    display: flex;
    justify-content: center;
}

/* ---------------------------------------------------End Menu-------------------------------------------------------------- */

/* -------------------------------------------------- Main------------------------------------------------------------------ */

.m-title-1{
  display: flex;
  justify-content: center;
  font-size: 22px;
  color: rgb(51, 51, 51);
  line-height: 1.2;    
  
}

.img-container{
  display: flex;
  justify-content: space-around;
} 

.guy-hobby{
  background: red;
  position: absolute;
  height: 17px;
  width: 17px;
  position: absolute;
  top: 113%;
  left: 24%;
  z-index: 2;
}

.guy-hobbybg-1{
  height: 32px;
  width: 32px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 112.5%;
  left: 23.6%;
  z-index: 1;
}

.guy-hobbybg-2{
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 112%;
  left: 23.4%;
  z-index: 0;
}

.p-box{
  max-width: 220px;
  position: static;
  margin-left: 300px;
  margin-top: 38px;
}

.guy-text{
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(102, 102, 102);
    line-height: 1.2;
    text-align: center;
    margin-top: 22px;
    margin-bottom: 72px;
}

.guy-name{
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    font-weight: bold;
    line-height: 1.2;  
    text-align: center;
    margin-top: 25px;
}

.p-img{
  display: flex;
  justify-content: center;
  margin-left: 51px;
}

.guy-img{
  display: flex;
  justify-content: center;
  margin-left: 51px;
  position: static;
}

/* ---------------------------------------------------End Menu-------------------------------------------------------------- */
/* ---------------------------------------------------footer-------------------------------------------------------------- */
.footer{
  display: flex;
  justify-content: center;
}

.f-button{
  background-color: #fff;
  font-size: 14px;
  font-family: "Montserrat";
  color: red;
  font-weight: bold;
  line-height: 1.2;   
  width: 225px;
  height: 40px;
  border-radius: 12px;
  border-color: rgb(255, 78, 80);        
  margin-top: 39px;
  margin-bottom: 73px; 
  border-width: 2px;
}